/.phpunit.cache
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.mcp.json
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
boost.json
Homestead.json
Homestead.yaml
Thumbs.db
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.claude

